<section class="comments" aria-labelledby="comments-title">
  <h2 id="comments-title">Comments</h2>
  <p class="comments-notice">
    Comments are public and hosted on GitHub. A GitHub account is required to post.
  </p>
  <script
    src="https://utteranc.es/client.js"
    repo="juansanjose/blog-comments"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
  <noscript>
    <p>JavaScript is required to view and post comments.</p>
  </noscript>
</section>
